.pb{
    height: 1px;
    /* margin: 1rem 0; */
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .50;
}

.vist{
    display: flex;
}

.start-50{
    margin-left: 10px;
}